h1{
			position: relative;
			text-align: center;
			top: 50px
		}
			h4{
				position: relative;
				text-align: center;
			}
		#booksdisplay{
		position: relative;
		top: 100px;
	}
	#search button{
		border: 0;
		font-size: 16px;
		color:	white;
		background-color: #61275d;
		border-radius: 4px
	}	
	#search{
		position: absolute;
		top: 60px;
		text-align: center;
		width: 100%;
		}
		#booksdisplay #bookshelf {
		border-collapse: collapse;
		width: 100%;
		border:  2px solid #ddd;
		 

	}

	th,td{
		border-left: 2px solid #ddb	;
		border-right:2px solid #ddb;
		text-align: center;
		vertical-align: middle;
		padding: 10px;
	}

	th{
		border-bottom: 2px solid #ddb	;
	}
	#booksdisplay #wishlist {
		border-collapse: collapse;
		width: 100%;
		border:  2px solid #ddd;

	}
	#booksdisplay #favourites {
		border-collapse: collapse;
		width: 100%;
		border:  2px solid #ddd;

	}
	#privacyinfo{
		position: absolute;
		top: 200px;
		text-align: center;
		width: 100%;
	}